<footer class="site-footer">
    <div class="content-wrapper">
        <div class="inner clearfix">
            <div class="main-content">
                <div class="home">
                    <p class="footer-links">
                        <a href="{{ "/archive" | relative_url }}">Read more
                        articles</a> |
                        subscribe <a class="rss-subscribe" href="{{ "/feed.xml" | prepend:
                        site.baseurl }}">via RSS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
