<footer class="site-footer">
    <div class="content-wrapper">
        <div class="inner clearfix">
            <div class="main-content">
                <div class="home">
                    <p style="font-size: 15px;">
                        <a style="color: #2879d0;" href="{{ "/archive" | prepend: site.baseurl }}">Read more
                        articles</a> |
                        subscribe <a style="color: #2879d0;" class="rss-subscribe" href="{{ "/feed.xml" | prepend:
                        site.baseurl }}">via RSS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>