<header>
    <div class="inner">
        <nav class="site-nav" aria-label="Main navigation">
            <ul>
                {% for my_page in site.pages %}
                {% if my_page.title and my_page.layout != "tagpage" and my_page.nav_exclude != true %}
                <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <a href="{{ '/' | relative_url }}" aria-label="Home">
            <p class="site-title">{{ site.title | default: site.github.repository_name }}</p>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
</header>
