{% assign share_url = page.url | absolute_url | url_encode %}
{% assign share_title = page.title | default: site.title | url_encode %}
{% assign share_description = page.excerpt | default: site.description | strip_html | truncate: 150 | url_encode %}

<ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}&quote={{ share_title }}" title="Share on Facebook" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook"><img alt="Share on Facebook" role="img" src="/assets/share-icons/Facebook.svg" /></a></li>
    <li><a href="https://twitter.com/intent/tweet?url={{ share_url }}&text={{ share_title }}" target="_blank" rel="noopener noreferrer" title="Tweet" aria-label="Share on Twitter"><img alt="Tweet" role="img" src="/assets/share-icons/Twitter.svg" /></a></li>
    <li><a href="https://www.reddit.com/submit?url={{ share_url }}&title={{ share_title }}" target="_blank" rel="noopener noreferrer" title="Submit to Reddit" aria-label="Submit to Reddit"><img alt="Submit to Reddit" role="img" src="/assets/share-icons/Reddit.svg" /></a></li>
    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ share_title }}&summary={{ share_description }}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn" aria-label="Share on LinkedIn"><img alt="Share on LinkedIn" role="img" src="/assets/share-icons/LinkedIn.svg" /></a></li>
    <li><a href="mailto:?subject={{ share_title }}&body={{ share_description }}%20{{ share_url }}" title="Send email" aria-label="Share via email"><img alt="Send email" role="img" src="/assets/share-icons/Email.svg" /></a></li>
</ul>
